<div class="container">
  <h2>My account</h2>
  <strong>Welcome back, <%= current_user.email %></strong>

  <div class="bg-white border rounded-lg">
    <div class="d-flex justify-content-between align-items-center py-2 px-4 bg-dark text-white">
      <h3 class="m-0">My Pets</h3>
      <%= link_to "Add new pet", new_user_pet_path(current_user), class: "btn btn-primary"  %>
    </div>

    <div class="row row-cols-3 p-4">
      
      <% @pets.each do |pet| %>
      <div class="col d-flex align-items-center justify-content-center mb-4">
        <div class="mx-2 bg-light w-100 border rounded p-2">
          <h3><%= pet.name %></h3>
          <img src="<%= pet.image %>" alt="" class="rounded w-100" style="height: 200px; object-fit: cover">
          <div>
            <p>
              <strong>Type: </strong><%= pet.pet_type %>
              <br />
              <strong>Breed: </strong><%= pet.breed %>
            </p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>


